/* This file is for your main application css. */

.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
  }

  #startBtn {
      float: left;
      width: 200px;
  }

  #joinBtn {
      float: left;
      width: 200px;
  }

  #watchBtn {
      float: left;
      width: 200px;
  }

  .button1 {
    background-color: cornsilk;
    color: black;
    border: 2px solid chocolate;  
    border-radius: 2px;
    padding: 12px 28px;  
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  
  .button1:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: chocolate;
    color: cornsilk;
    border: 2px solid black;
  }