[Unit]
Description=Game

[Service]
Type=simple
User=game
Group=game
Restart=on-failure
Environment=MIX_ENV=prod "PORT=4791"
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/game/CS5610-P1/one
ExecStart=/bin/bash /home/game/CS5610-P1/one/start.sh

[Install]
WantedBy=multi-user.target
